.custom-popover {
    --bs-popover-max-width: 200px;
    --bs-popover-border-color: var(--bd-violet-bg);
    --bs-popover-header-bg: var(--bd-violet-bg);
    --bs-popover-header-color: var(--bs-white);
    --bs-popover-body-padding-x: 1rem;
    --bs-popover-body-padding-y: .5rem;
  }

  .navbarLinks{
    width: 100%;
    display: flex !important;
    flex-direction: row !important;
    justify-content: end;


    float: right !important;
    padding-right: 0;
    margin: 0 2rem;
  }
  .navbarLink{
    margin: 0 1rem  ;
  }
  .LoginButton{
    font-weight: 600;
    color: blue !important;
  }